<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="box" id="heading">
        <h1><%= ListItem %></h1>
    </div>

    <div class="box">

        <%   for(var i=0 ; i < arrayName; i++){ %>
        <div class="item"><input type="checkbox" name="" id="">
            <p><%=   addTask[i]   %></p>
        </div>
        <%   }  %>


        <form class="box" action="<%=route%>" method="post">
            <input type="text" name="addTask" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submitTask" value=<%=ListItem%>>+</button>
        </form>
    </div>



</body>

</html>